<div>
    <table>
        <tr>
            <th colspan="2">
                <h3>{{accomodationName}}</h3>
            </th>
        </tr>
        <tr>
            <td>
                Score:
            </td>
            <td>
                {{review.score}}
            </td>
        </tr>
        <tr>
            <td>
                Written review:
            </td>
            <td>
                {{review.writtenReview}}
            </td>
        </tr>
    </table>
</div>
