<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div>
    <div class="details">
        <h2>
            {{room.roomName}}
        </h2>
        <div class="buttons">
            <button type="submit" class="btn btn-outline-danger" (click)="editRoom(room.roomId)" >
                Edit Room
            </button>
            <button type="submit" class="btn btn-outline-danger" *ngIf="room.isActive" (click)="inactivateRoom(room.roomId)">
                Inactivate Room
            </button>
            <button type="submit" class="btn btn-outline-danger" *ngIf="!room.isActive" (click)="activateRoom(room.roomId)">
                Activate Room
            </button>
        </div>
        <hr>
        <div>
            <img class="content" src="{{room.imagePath}}" width="300" height="300" alt="{{room.roomName}} szoba képe"/>
            <table class="content">
                <tr>
                    <th>
                        Details
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong>Type</strong>
                        {{room.roomType}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Maximum number of people in room</strong>
                        {{room.maxPersons}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Price per person</strong>
                        {{room.pricePerPerson}} 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Status</strong>
                        {{room.isActive ? 'Aktív' : 'Inaktív'}}<br>
                        <p *ngIf="!room.isActive">This room is inactive. Guests can't reserve a room while it is inactive</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content" id="reserved-dates">
            <h3>Check your reserved dates here</h3>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Check dates</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker1></mat-datepicker>
              </mat-form-field>
        </div>

        <div class="content">
            <form [formGroup]="roomEditForm">
                <h3>You can lock any date here:</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>From</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" formControlName="lockStart">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Until</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker3" formControlName="lockEnd">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button [disabled]="!roomEditForm.valid" (click)="lock()">Lock</button>
            </form>

            <form [formGroup]="unlockForm">
                <h3>You can unlock any date here:</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>From</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker4" formControlName="unlockStart">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Until</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker5" formControlName="unlockEnd">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button [disabled]="!unlockForm.valid" (click)="unlock()">Unlock</button>
            </form>
        </div>
    </div>
</div>
