table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

th{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

th, td{
    padding: 12px 15px;
}

tr{
    border-bottom: 1px solid #dddddd;
}

h2{
    color: #009879;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}

h3{
    color: #009879;
    font-family: 'Trocchi', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
}

.content{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons{
    padding-left: 15px;
    padding-top: 15px;
}

.btn{
    background-color: orange;
    color: white;
}

.btn :hover{
    background-color: white;
    border: 2px solid orange;
}