<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <h2 *ngIf="!success">There was a problem with the registration. Please try again</h2>
        <mat-toolbar color="primary" fxLayoutAlign="center center">Accomodation registration</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="accomodationRegistrationForm">
            <mat-form-field>
                <input matInput placeholder="Accomodation Name" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Type" formControlName="type">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Offered Catering" formControlName="catering">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Prepayment in %" formControlName="prepayment">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cancellation fee in %" formControlName="cancellationFee">
            </mat-form-field>

            <button mat-raised-button type="reset" [disabled]="!accomodationRegistrationForm.valid" (click)="submit()">Register my accomodation</button>
        </form>
    </mat-card>
</div>