<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary" fxLayoutAlign="center center">Be a reservator</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="guestRegistrationForm">
            <mat-form-field>
                <input matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Phone number" formControlName="phoneNumber">
            </mat-form-field>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Zip" formControlName="zip">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Street" formControlName="street">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="House number" formControlName="houseNumber">
                </mat-form-field>
            </div>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <button mat-raised-button type="submit" [disabled]="!guestRegistrationForm.valid" (click)="submit()">Registration</button>
        </form>
    </mat-card>
</div>