table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    max-width: 75%;
}

th{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

th, td{
    padding: 12px 15px;
}

tr{
    border-bottom: 1px solid #dddddd;
}

h2{
    color: #009879;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}

h3{
    color: #009879;
    font-family: 'Trocchi', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    float: left;
}

#room-name{
    color: white;
    font-family: 'Trocchi', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
    padding-left: 30px;
}

button{
    background-color: orangered;
}

.add-room{
    padding-top: 20px;
    padding-bottom: 20px;
}

#add-button{
    height: 20px;
    font-size: 15px;
    padding-bottom: 35px;
}