<div>
    <div class="details">
        <h2>
            {{accomodation.accomodationName}}
        </h2>
        <hr>
        <table>
            <tr>
                <th>
                    Details
                </th>
            </tr>
            <tr>
                <td>
                    <strong>Type</strong><br>
                    {{accomodation.type}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Offered Catering</strong><br>
                    {{accomodation.offeredCatering}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Pre payment</strong><br>
                    {{accomodation.prePayment}} %
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Cancellation fee</strong><br>
                    {{accomodation.cancellationFee}} %
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Status</strong><br>
                    {{accomodation.isActive ? 'Aktív' : 'Inaktív'}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description</strong><br>
                    {{accomodation.description}}
                </td>
            </tr>
        </table>
    </div>

    <hr>

    <h3>Rooms</h3>
    <div class="add-room">
        <button id="add-button" mat-button (click)="gotoAddRoom()">
            Add Room
        </button>
    </div>

    <div class="rooms" *ngFor="let room of rooms">
        <table>
            <tr>
                <th colspan="4">
                    <h3 id="room-name">{{room.roomName}}</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <img src="{{room.imagePath}}" width="300" height="300" alt="{{room.roomName}} szoba képe"><br>
                </td>
                <td>
                    {{room.roomType}}
                </td>
                <td>
                    <button mat-button>
                        <a href="room/{{room.roomId}}">See Room</a>
                    </button>
                </td>
                <td>
                    <button mat-button type="submit" class="btn btn-outline-danger" (click)="deleteRoom(room.roomId)">
                        Delete Room
                    </button>
                </td>
            </tr>

        </table>

    </div>
</div>
