<div class="content" fxLayoutAlign="center center">
    <div>
        <h2>Welcome {{name}}!</h2>

        <div class="guest-content" *ngIf=" role === 'Guest'">
            What are you interested in today?<br>
            <a href="search">I'm looking to make a reservation</a><br>
            <a href="my-reservations/{{id}}">I want to see my reservations</a><br>
            <a href="my-profile">I want to see my profile</a><br>
        </div>
        
        <div class="guest-content" *ngIf=" role === 'Owner'">
            What are you interested in today?<br>
            <a href="hotel-registration">I want to register an accomodation</a><br>
            <a href="my-hotels">I want to see my hotels</a><br>
            <a href="my-profile">I want to see my profile</a><br>
        </div>
    </div>
</div>
