<!DOCTYPE html>
<html>
    <body>
        <div fxLayoutAlign="center center" fxFlexFill>
            <mat-card fxFlex="25">
                <mat-toolbar color="primary" fxLayoutAlign="center center" >Owner Registration</mat-toolbar>
                
                <form [formGroup]="ownerRegistrationForm" fxLayoutAlign="stretch" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="E-mail" formControlName="email">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
        
                    <mat-form-field>
                        <input matInput placeholder="Phone number" formControlName="phoneNumber">
                    </mat-form-field>
        
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
        
                    <button mat-raised-button type="submit" [disabled]="!ownerRegistrationForm.valid" (click)="submit()">Register</button>
                </form>
        
            </mat-card>
        </div>
    </body>
</html>