.content {
    height: 75%;
}

h3 {
    width: 100%;
}

.form-field {
    padding-right: 25px;
    padding-left: 50px;
    float: left;
}

textarea {
    border: 1px solid black;
    width: auto;
    margin-left: 50px;
}

.radio-button {
    display: block;
    padding-right: 5px;
    padding-top: 5px;
}

form {
    display: table;
    margin: 0 auto;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #009879;
}

img {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: 25px;
}
