<div class="content" fxLayoutAlign="center center">
    <form [formGroup]="reviewForm">
    <h3>How do you rate {{accomodation.accomodationName}}?</h3>
    <div class="form-field">
        <mat-radio-group formControlName="score">
            <mat-radio-button class="radio-button" value="1">1 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">2 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">3 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="4">4 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="5">5 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="6">6 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="7">7 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="8">8 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="9">9 pont</mat-radio-button>
            <mat-radio-button class="radio-button" value="10">10 pont</mat-radio-button>
        </mat-radio-group>
    </div>
    <img src="{{room.imagePath}}" width="450" height="250"/>
    <div class="text-area-container">
        <textarea fxLayoutAlign="cente center" formControlName="review" matInput rows="10" cols="80">

        </textarea>
    </div>
    <div fxLayoutAlign="center center">
        <button  mat-raised-button [disabled]="!reviewForm.valid" (click)="postReview(reservation.id)">Submit review</button>
    </div>
</form>
</div>

