 
<div class="card-container">
    <div class="card">
        <table>
            <tr>
                <th colspan="2" id="name">
                {{accomodation.accomodationName}} {{accomodation.city}}
                </th>
            </tr>
            <tr>
                <td colspan="2" class="card-table-data">
                    <hr>
                </td>
            </tr>
            <tr>
                <td class="card-table-data">
                    Payment information:<br>
                    Prepayment: {{accomodation.prePayment}} %<br>
                    Cancellation fee: {{accomodation.cancellationFee}} %
                </td>
                <td class="card-table-data">
                    General info:<br>
                    Accomodation type: {{accomodation.type}}<br>
                    Offered catering: {{accomodation.offeredCatering}}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="card-table-data">
                    <hr>
                </td>
            </tr>
            <tr>
                <th id="description">
                    Description:
                </th>
            </tr>
            <tr>
                <td colspan="2" class="card-table-data">
                {{accomodation.description}}
                </td>
            </tr>
        </table>
    </div>

    <div class=card>
        <form id="form" [formGroup]="reserveForm">
            <h3>Make your reservation here:</h3>
            
            <mat-form-field appearance="fill">
                <mat-label>Room</mat-label>
                <mat-select formControlName="choosenRoom" (selectionChange)="getMaxPersonCountForRoom(); dataForPersonsOptions(); getReservedDatesForRoom()">
                    <mat-option *ngFor="let room of activeRooms; let i = index" [value]="i">
                    {{room.roomName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <br>
    
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>From</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="startFilter" [matDatepicker]="picker" formControlName="reservationStart">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Until</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="endFilter" [matDatepicker]="picker2" formControlName="reservationEnd">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Number of persons</mat-label>
                <mat-select formControlName="numberOfPersons">
                    <mat-option *ngFor="let num of maxPersonDataArray" [value]="num">{{num}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <br>

            <button mat-raised-button [disabled]="!reserveForm.valid" (click)="reserve()">Reserve room</button>
        </form>
    </div>   
</div>

<div class="rooms" *ngFor="let room of activeRooms">
    <div class="room">
        <table id="room-table">
            <tr class="room-table-row">
                <th class="room-table-header" colspan="4">
                    <h3 id="room-name">{{room.roomName}}</h3>
                </th>
            </tr>
            <tr class="room-table-row">
                <td class="room-table-data">
                    <img src="{{room.imagePath}}" width="400" height="400" alt="{{room.roomName}} szoba képe"><br>
                </td>
                <td class="room-table-data">
                    <strong>Type of room:</strong><br>
                    {{room.roomType}}
                </td>
                <td class="room-table-data">
                    <strong>Maximum persons to reserve room:</strong><br>
                    {{room.maxPersons}}
                </td>
                <td class="room-table-data">
                    <strong>Price of the room:</strong><br>
                    {{room.pricePerPerson}}/person/night
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="reviews" *ngFor="let review of reviews">
    <div class="review">
        <table id="room-table">
            <tr class="room-table-row">
                <td class="room-table-data">
                    Score:
                </td>
                <td class="room-table-data">
                    {{review.score}}
                </td>
            </tr>
            <tr class="room-table-row">
                <td class="room-table-data">
                    Written review:
                </td>
                <td class="room-table-data">
                    {{review.writtenReview}}
                </td>
            </tr>
        </table>
    </div>
</div>
