.card-container
{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.card
{
    display: table;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 400px;
}
.card div
{
    text-align: center;
}

.card-table-data{
    width: 50%;
}

#form{
    text-align: center;
}

.rooms {
    padding-left: 50px;
}

#room-table {
    padding-top: 50px;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 90%;
}

.room-table-row {
    border-bottom: 1px solid #dddddd;
}

.room-table-header {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.room-table-header, .room-table-data {
    padding: 12px 15px;
}

h3{
    color: white;
    font-family: 'Trocchi', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 15px;
}

//////////////////////////////////////////////      REVIEWS         //////////////////////////////////////////////
.reviews {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}