<div class="content">
    <h2>{{room.roomName}}</h2>
    <hr>
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="25">
            <mat-toolbar color="primary" fxLayoutAlign="center center">Room editing</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="roomEditForm">
                <label>Room name</label>
                <mat-form-field>
                    <input matInput placeholder="{{room.roomName}}" formControlName="roomName">
                </mat-form-field>
    
                <label>Type</label>
                <mat-form-field>
                    <input matInput placeholder="{{room.roomType}}" formControlName="type">
                </mat-form-field>
    
                <label>Max Persons</label>
                <mat-form-field>
                    <input matInput placeholder="{{room.maxPersons}}" formControlName="maxPersons">
                </mat-form-field>
    
                <label>Price / person</label>
                <mat-form-field>
                    <input matInput placeholder="{{room.pricePerPerson}}" formControlName="pricePerPerson">
                </mat-form-field>

                <label>Image</label>
                <input type="file" id="img" name="img" accept="image/*" (change)="onFileSelected($event)">
    
                <button mat-raised-button type="reset" [disabled]="!roomEditForm.valid" (click)="submit()">Edit my accomodation</button>
            </form>
        </mat-card>
    </div>
</div>
