h2{
    color: #009879;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 20px;
    padding-left: 15px;
}

#img{
    padding-bottom: 20px;
}