<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <h2 *ngIf="!success">There was a problem with editing your hotel. Please try again</h2>
        <mat-toolbar color="primary" fxLayoutAlign="center center">Edit Form</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="accomodationRegistrationForm">
            <label>Accomodation name</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.accomodationName}}" formControlName="name">
            </mat-form-field>

            <label>City</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.city}}" formControlName="city">
            </mat-form-field>

            <label>Type</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.type}}" formControlName="type">
            </mat-form-field>

            <label>Description</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.description}}" formControlName="description">
            </mat-form-field>

            <label>Offered catering</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.offeredCatering}}" formControlName="catering">
            </mat-form-field>

            <label>Prepayment (only number)</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.prePayment}} %" formControlName="prepayment">
            </mat-form-field>

            <label>Cancellation fee (only number)</label>
            <mat-form-field>
                <input matInput placeholder="{{accomodation.cancellationFee}} %" formControlName="cancellationFee">
            </mat-form-field>

            <button mat-raised-button type="reset" [disabled]="!accomodationRegistrationForm.valid" (click)="submit()">Edit my accomodation</button>
        </form>
    </mat-card>
</div>