<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary" fxLayoutAlign="center center">Room upload</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="roomAddForm">
            <label>Room name</label>
            <mat-form-field>
                <input matInput placeholder="Name of your room" formControlName="roomName">
            </mat-form-field>

            <label>Type</label>
            <mat-form-field>
                <input matInput placeholder="Type of your room" formControlName="type">
            </mat-form-field>

            <label>Max Persons</label>
            <mat-form-field>
                <input matInput placeholder="Max persons to sleep in the room" formControlName="maxPersons">
            </mat-form-field>

            <label>Price / person</label>
            <mat-form-field>
                <input matInput placeholder="Price / Person" formControlName="pricePerPerson">
            </mat-form-field>

            <label>Image</label>
            <input type="file" id="img" name="img" accept="image/*" (change)="onFileSelected($event)" formControlName="image">

            <button mat-raised-button type="reset" [disabled]="!roomAddForm.valid" (click)="submit()">Edit my accomodation</button>
        </form>
    </mat-card>
</div>
