<div class="content" *ngFor="let room of rooms">
    <div class="reservation" *ngFor="let reservation of room.reservations">
        <table>
            <tr>
                <th colspan="12">
                    <h3>{{accomodation.accomodationName}} {{accomodation.city}}</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <strong>Reservation ID:</strong><br>
                    {{reservation.id}}
                </td>
                <td>
                    <strong>Status:</strong><br>
                    {{reservation.isActive ? 'Aktív' : 'Inaktív'}}
                </td>
                <td>
                    <strong>Date of Arrival:</strong><br>
                    {{reservation.arrival | date: 'yyy-MM-dd'}} 
                </td>
                <td>
                    <strong>Date of Departure:</strong><br>
                    {{reservation.departure | date: 'yyy-MM-dd'}}
                </td>
                <td>
                    <strong>Catering</strong><br>
                    {{reservation.catering}}
                </td>
                <td>
                    <strong>Total Value</strong><br>
                    {{reservation.totalValue}} Ft
                </td>
                <td>
                    <strong>Needed prepayment</strong><br>
                    {{reservation.prePayment}} Ft
                </td>
                <td>
                    <strong>Cancellation fee</strong><br>
                    {{reservation.cancellationFee}} Ft
                </td>
                <td>
                    <strong>Room Name</strong><br>
                    {{room.roomName}}
                </td>
                <td>
                    <strong>Room Type</strong><br>
                    {{room.roomType}}
                </td>
                <td>
                    <button mat-raised-button (click)="viewReservation(reservation.id)">View reservation</button>
                </td>
            </tr>
        </table>
    </div>
</div>