.content{
    padding-top: 25px;
}

.reservation{
    padding-top: 50px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 95%
}

th{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

h3{
    color: white;
    font-family: 'Trocchi', serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    padding-top: 5;
    padding-left: 30px;
    float: left;
}

button{
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
}

th, td{
    width: auto;
    padding: 10px;
}

tr{
    border-bottom: 1px solid #dddddd;
}