<!-- Showing user data -->
<section fxLayoutAlign="center center" *ngIf="role === 'Guest'">
    <div>
        <div class="card-container">
            <div class="card">
                <table>
                    <tr>
                        <th colspan="2">
                            <h2>{{user.name}}</h2>
                        </th>
                    </tr>
                    <tr>
                        <td><strong>E-mail</strong></td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone number</strong></td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td><strong>Adress</strong></td>
                        <td>{{user.adress}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<hr *ngIf="role === 'Guest'">

<section fxLayoutAlign="center center" *ngIf="role === 'Owner'">
    <div>
        <div class="card-container">
            <div class="card">
                <table>
                    <tr>
                        <th colspan="2">
                            <h2>{{user.name}}</h2>
                        </th>
                    </tr>
                    <tr>
                        <td><strong>E-mail</strong></td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone number</strong></td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<hr *ngIf="role === 'Owner'">

<!-- Editing user data -->
<div *ngIf="role === 'Guest'">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="25">
            <mat-toolbar color="primary" fxLayoutAlign="center center">Change data here</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="guestDataEditForm">
                <label>Your name</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.name}}" formControlName="name">
                </mat-form-field>
    
                <label>Your e-mail adress</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.email}}" formControlName="email">
                </mat-form-field>
    
                <label>Your phone number</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.phoneNumber}}" formControlName="phoneNumber">
                </mat-form-field>
    
                <label>Zip</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.zip}}" formControlName="zip">
                </mat-form-field>
    
                <label>City</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.city}}" formControlName="city">
                </mat-form-field>
    
                <label>Street</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.street}}" formControlName="street">
                </mat-form-field>
    
                <label>House number</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.houseNumber}}" formControlName="houseNumber">
                </mat-form-field>
    
                <button mat-raised-button type="reset" [disabled]="!guestDataEditForm.valid" (click)="submitGuestChange()">Edit my data</button>
            </form>
        </mat-card>
    </div>
</div>

<div *ngIf="role === 'Owner'">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="25">
            <mat-toolbar color="primary" fxLayoutAlign="center center">Change data here</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="ownerDataEditForm">
                <label>Your name</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.name}}" formControlName="name">
                </mat-form-field>
    
                <label>Your e-mail adress</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.email}}" formControlName="email">
                </mat-form-field>
    
                <label>Your phone number</label>
                <mat-form-field>
                    <input matInput placeholder="{{user.phoneNumber}}" formControlName="phoneNumber">
                </mat-form-field>
    
                <button mat-raised-button type="reset" [disabled]="!ownerDataEditForm.valid" (click)="submitOwnerChange()">Edit my data</button>
            </form>
        </mat-card>
    </div>
</div>