<mat-toolbar class="top-bar">
    <div class="list">
        <mat-list-item class="list-element">
            <a mat-list-item href="welcome">Main Page</a>
        </mat-list-item>
    
        <div class="guest-bar" *ngIf="role === 'Guest'">
            <mat-list-item class="list-element">
                <a mat-list-item href="search">Search</a>
            </mat-list-item>
        </div>
        <div class="guest-bar" *ngIf="role === 'Guest'">
            <mat-list-item class="list-element">
                <a mat-list-item href="my-reservations/{{id}}">My reservations</a>
            </mat-list-item>
        </div>
        
        <div class="owner-bar" *ngIf="role === 'Owner'">
            <mat-list-item class="list-element">
                <a mat-list-item href="hotel-registration">Accomodation Registration</a>
            </mat-list-item>
        </div>
        <div class="owner-bar" *ngIf="role === 'Owner'">
            <mat-list-item class="list-element">
                <a mat-list-item href="my-hotels">My hotels</a>
            </mat-list-item>
        </div>
    </div>

    <mat-list-item class="list-element" id="profile" *ngIf="role != null">
        <a mat-list-item href="my-profile">Profile</a>
    </mat-list-item>
    <mat-list-item class="list-element" id="logout-button" *ngIf="role != null">
        <a mat-list-item (click)="logout()">Log out</a>
    </mat-list-item>
    
</mat-toolbar>

<router-outlet></router-outlet>
