.top-bar
{
    display: inline-flex;
    height: 50px;
    background-color: rgba(0, 181, 204, 1);
    font-size: 1.4em !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: bold;
}

.list
{
    width: 95%;
    display: inline-flex;
}

.list-element
{
    padding-right: 15px;
    display: inline-flex;
}

a
{
    color: white;
}
