<div class="reservations" *ngFor="let reservation of reservations">
    <div class="reservation">
        <table>
            <tr>
                <th colspan="12">
                    <h3>{{reservation.room.accomodation.accomodationName}} {{reservation.room.accomodation.city}}</h3>
                    <button mat-raised-button *ngIf="reservation.reviewAble" (click)="leaveReview(reservation.id)">Leave a review</button>
                </th>
            </tr>
            <tr>
                <td>
                    <strong>Reservation ID:</strong><br>
                    {{reservation.id}}
                </td>
                <td>
                    <strong>Status:</strong><br>
                    {{reservation.isActive ? 'Aktív' : 'Inaktív'}}
                </td>
                <td>
                    <strong>Date of Arrival:</strong><br>
                    {{reservation.arrival | date: 'yyy-MM-dd'}} 
                </td>
                <td>
                    <strong>Date of Departure:</strong><br>
                    {{reservation.departure | date: 'yyy-MM-dd'}}
                </td>
                <td>
                    <strong>Catering</strong><br>
                    {{reservation.catering}}
                </td>
                <td>
                    <strong>Total Value</strong><br>
                    {{reservation.totalValue}} Ft
                </td>
                <td>
                    <strong>Needed prepayment</strong><br>
                    {{reservation.prePayment}} Ft
                </td>
                <td>
                    <strong>Cancellation fee</strong><br>
                    {{reservation.cancellationFee}} Ft
                </td>
                <td>
                    <strong>Room Name</strong><br>
                    {{reservation.room.roomName}}
                </td>
                <td>
                    <strong>Room Type</strong><br>
                    {{reservation.roomType}}
                </td>
                <td>
                    <button mat-raised-button (click)="viewAccomodation(reservation.room.accomodation.accomodationId)">View accomodation</button>
                    <button mat-raised-button (click)="viewReservation(reservation.id)">View reservation</button>
                </td>
            </tr>
        </table>
    </div>
</div>