.hotel-card
{
    display: table;
    margin: 0 auto;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 300px;
}
.hotel-card div
{
    text-align: center;
}
.card-container
{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.button
{
    padding-top: 10px;
}