<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class="card-container">
    <div *ngFor="let hotel of hotels" class="hotel-card">
        <h2>
            <a href="my-hotel/{{hotel.accomodationId}}">{{hotel.accomodationName}}</a> 
        </h2>
        <hr>
        <table>
            <tr>
                <th>
                    Type
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.type}}
                </td>
            </tr>
            <tr>
                <th>
                    Offered Catering
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.offeredCatering}}
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.description}}
                </td>
            </tr>
            <tr>
                <th>
                    Pre payment amount in %
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.prePayment}}
                </td>
            </tr>
            <tr>
                <th>
                    Cancellation fee amount in %
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.cancellationFee}}
                </td>
            </tr>
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    {{hotel.isActive ? 'Aktív' : 'Inaktív'}}
                </td>
            </tr>

        </table>
        <br/>
        <div>

            <div class="button">
                <button type="submit" class="btn btn-outline-secondary" (click)="editHotel(hotel.accomodationId)" >
                    Edit
                </button>
            </div>
            
            <div class="button">
                <button type="submit" class="btn btn-outline-secondary" (click)="gotoGuests(hotel.accomodationId)">
                    See guests
                </button>
            </div>

            <div class="button" *ngIf="hotel.isActive">
                <button type="submit" class="btn btn-outline-danger" (click)="inactivateHotel(hotel.accomodationId)">
                    Inactivate accomodation
                </button>
            </div>

            <div class="button" *ngIf="!hotel.isActive">
                <button type="submit" class="btn btn-outline-danger" (click)="activateHotel(hotel.accomodationId)">
                    Activate accomodation
                </button>
            </div>

            <div class="button">
                <button type="submit" class="btn btn-outline-danger" (click)="deleteHotel(hotel.accomodationId)">
                    Delete accomodation
                </button>
            </div>
            
        </div>
    </div>
</div>
