<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <h2 *ngIf="userNotFound">User with given data does not exist</h2>
        <mat-toolbar color="primary" fxLayoutAlign="center center">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm">
            <mat-form-field>
                <input matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-radio-group class="radio-buttons" formControlName="role">
                <mat-radio-button value="0">Guest</mat-radio-button>
                <mat-radio-button value="1">Accomodation Owner</mat-radio-button>
            </mat-radio-group>

            <button mat-raised-button type="reset" [disabled]="!loginForm.valid" (click)="submit()">Login</button>
        </form>
    </mat-card>
</div>