form{
    padding: 10px;
}

.card
{
    display: table;
    margin: 0 auto;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: auto;
}
.card div
{
    text-align: center;
    float: left;
}
.card-container
{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 99%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

#name{
    background-color: rgba(0, 181, 204, 1);
    color: white;
}

td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.button{
    padding-top: 25%;
    padding-bottom: 25%;
}

#lets-see{
    background-color: orange;
}

#cityName{
    padding-top: 15px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24;
}

//////////////////////////////////////////////////////////////////////////////////

.search{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background-color: rgba(0, 181, 204, 1);
}

#input{
    padding-bottom: 10px;
}
