<div class="search" *ngIf="!accomodationView">
    <h2 fxLayoutAlign="center center">Search</h2>
    <br>
    <div>
        <div id="input">
            <form [formGroup]="searchForm" fxLayoutAlign="center center">
                <input matInput placeholder="e.x.: Miskolc" formControlName="searchInput"> 
            </form>
        </div>
        
        <div fxLayoutAlign="center center">
            <button mat-raised-button type="submit" id="lets-see" [disabled]="!searchForm.valid" (click)="submit()">Search</button>
        </div>
    
    </div>
</div>


<div class="list" *ngIf="accomodationView">
    <h1 fxLayoutAlign="center center" id="cityName">{{cityName}}</h1>
    
    <div class="hr">
        <hr>
    </div>
    
    <div class="card-container">
        <div *ngFor="let accomodation of accomodations" class="card">
            <div class="table">
                <table>
                    <tr>
                        <th>
                            <h2><a href="hotel/{{accomodation.accomodationId}}" target="_blank">{{accomodation.accomodationName}}</a></h2>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Catering: {{accomodation.offeredCatering}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prepayment: {{accomodation.prePayment}} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cancellation fee: {{accomodation.cancellationFee}} %
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="button">
                <button mat-raised-button type="submit" id="lets-see" (click)="redirectToHotelPage(accomodation.accomodationId)">Let's see</button>
            </div>

        </div>
    </div>
</div>