<div class="reservation">
    <table>
        <tr>
            <th colspan="9">
                <h3>{{reservation.room.accomodation.accomodationName}} {{reservation.room.accomodation.city}}</h3>
            </th>
        </tr>
        <tr>
            <th rowspan="2">
                Basic data:
            </th>
            <td>
                <strong>Reservation ID</strong>
            </td>
            <td>
                <strong>Status</strong>
            </td>
            <td>
                <strong>Date of Arrival</strong>
            </td>
            <td>
                <strong>Date of Departure</strong>
            </td>
            <td>
                <strong>Catering</strong>
            </td>
            <td>
                <strong>Total Value</strong>
            </td>
            <td>
                <strong>Needed prepayment</strong>
            </td>
            <td>
                <strong>Cancellation fee</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{reservation.id}}
            </td>
            <td>
                {{reservation.isActive ? 'Aktív' : 'Inaktív'}}
            </td>
            <td>
                {{reservation.arrival | date: 'yyy-MM-dd'}} 
            </td>
            <td>
                {{reservation.departure | date: 'yyy-MM-dd'}} 
            </td>
            <td>
                {{reservation.catering}}
            </td>
            <td>
                {{reservation.totalValue}}
            </td>
            <td>
                {{reservation.prePayment}} Ft
            </td>
            <td>
                {{reservation.cancellationFee}} Ft
            </td>
        </tr>
        <tr>
            <th rowspan="2">Housing</th>
            <td>
                <strong>Room Type</strong>
            </td>
            <td colspan="7">
                <strong>Room Name</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{reservation.room.roomType}}
            </td>
            <td colspan="7">
                {{reservation.room.roomName}}
            </td>
        </tr>
        <tr>
            <th rowspan="2">Host</th>
            <td>
                <strong>Name</strong>
            </td>
            <td>
                <strong>Phone number</strong>
            </td>
            <td colspan="8">
                <strong>E-mail adress</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{reservation.room.accomodation.accomodationOwner.name}}
            </td>
            <td>
                {{reservation.room.accomodation.accomodationOwner.phoneNumber}}
            </td>
            <td colspan="8">
                {{reservation.room.accomodation.accomodationOwner.email}}
            </td>
        </tr>
        <tr>
            <th>Guest</th>
            <td>
                {{reservation.guest.name}}
            </td>
            <td>
                {{reservation.guest.phoneNumber}}
            </td>
            <td colspan="8">
                {{reservation.guest.email}}
            </td>
        </tr>
        <tr *ngIf="role === 'Guest'">
            <td>
                <button mat-raised-button (click)="viewAccomodation(reservation.room.accomodation.accomodationId)">View accomodation</button>
            </td>
            <td colspan="7">
                <button mat-raised-button *ngIf="reservation.reviewAble" (click)="viewReview(reservation.id, reservation.room.accomodation.accomodationName)">View My Review</button>
            </td>
            <td>
                <button mat-raised-button (click)="cancelReservation(reservation.id)">Cancel reservation</button>
            </td>
        </tr>
    </table>
</div>
