<div fxFlexFill fxLayoutAlign="center center">
    <div>

        <h2 fxLayoutAlign="center center">Welcome to Henrik's Reservation Site</h2>
        <p>You can find all sorts of accomodations here, so you will be able to choose one to your liking.<br>
        To proceed, pelase login, or register if you haven't already</p>
        <button fxLayoutAlign="center center" fxFlexFill mat-raised-button><a href="login">Login</a></button>
        
        <button fxLayoutAlign="center center" fxFlexFill mat-raised-button><a href="guest-registration">Registration</a></button>
        <br>
        <p fxLayoutAlign="center center">Or if you want to advertise your accomodation on our site, register as an: <a href="owner-registration"> owner</a></p>

    </div>
</div>